<div class="user-details">
  <h1>About me</h1>
    
    <img src="me.jpg" alt="Juan Pablo López Alduncin" width="300">
    
    <p><font size="+2">{{ site.user_description }}</font></p>
</div>



 <h2 align="center">Places I have lived:</h2>
    
    <img src="map.jpg" alt="map" width="1000">

 <h2 align="center">My education:</h2>
    

<p><font size="+2"><strong> 2019 - Now </strong>Master in Management.<strong> ESCP Europe.</strong><font color = "blue"> France</font> </font> </p>

<p><font size="+2"><strong> 2015 - 2019 </strong>Bachelor’s in Systems and Administration.<strong> ITBA.</strong><font color = "blue"> Argentina</font> </font> </p>
<p><font size="+2"><strong> 2009 - 2015 </strong>High School diploma.<strong> Bedes Grammar School.</strong><font color = "blue"> Argentina</font> </font> </p>
<p><font size="+2"><strong> 2008 - 2009 </strong>Primary School.<strong> Multinational School of Riyadh.</strong><font color = "blue"> Saudi Arabia</font> </font> </p>


<p><font size="+2"><strong> 2001 - 2008 </strong>Elementary Schhol.<strong> Dainfern College.</strong><font color = "blue"> South Africa</font> </font> </p>



    
<h2 align="center">Work Experience:</h2>

<div class="user">  
  <div class="tech">
    <h2>ITBA</h2>
      
      <img src="itba.jpg" alt="itba" width="150">
    
    <p>  <font size="+1">I was chosen as <strong>Assistant professor</strong> at my university to guide students in an introductory course. </font> </p>
  </div>

  <div class="tech">
    <h2>SAP</h2>
    <img src="SAP_R_grad.jpg" alt="SAP" width="150">
      
      <p><font size="+1">I took responsibilities at a regional level for <strong>Partner Solution Center </strong> Latin America  positioning parnters in local markets and pushing global iniciatives such as SAP-Qualified Partner-Packaged Solutions, Move to SAP S/4HANA, amongst many others. </font> </p>
  </div>
    
    
</div>
<p>&nbsp</p>

<h2 align="center">See my certifications:</h2>
    
<div class="user">  
  <div class="tech">
    <h2>SAP</h2>
      
      
      <a href="https://www.youracclaim.com/badges/92b43846-b76f-4065-bd07-0206332cbb66/public_url"><img src="sap badge.jpg" width="150"  title="Design Thinking" alt="SAP certificate"></a>
      
    
    <p><font size="+1">SAP Certified Associate in Design Thinking</font></p>
  </div>

  <div class="tech">
    <h2>Trailhead</h2>
    

    <a href="https://trailhead.salesforce.com/fr/me/jlopezalduncin"><img src="trailhead badge.jpg" width="150"  title="trailhead superbadge" alt="Trailhead certificate"></a>
      
      
      <p><font size="+1">Einstein Analytics Data Preparation Specialist</font> </p>
  </div>
    
  <div class="tech">
    <h2>ICB  </h2>
      
    <a href="https://drive.google.com/drive/u/0/folders/1TNm1Z3c8j5VK3zveTA77LmaHWpFdWPyC"><img src="certfinanzas.jpg" width="150"  title="Finance certificate" alt="ICB finance certificate"></a>
      
       <p>&nbsp <br></p>
      <p><font size="+1">Corporate and Personal Financial Analyst</font> </p>
  </div>
    <div class="tech">
    <h2>Udemy </h2>
    <d> &nbsp </d>
      <a href="https://drive.google.com/drive/u/0/folders/1TNm1Z3c8j5VK3zveTA77LmaHWpFdWPyC"><img src="udemycert.jpg" width="150"  title="Udemy certificate" alt="Udemy ML certificate"></a>   
        <br>
      
      <p><font size="+1">Python for Data Science and Machine Learning Bootcamp</font> </p>
  </div>
</div>
