<div class="user-details">
  <h1>About me</h1>
    
    <img src="me.jpg" alt="Juan Pablo López Alduncin" width="300">
    
    <p><font size="+2">{{ site.user_description }}</font></p>
</div>

 <h2 align="center">My education:</h2>
    
    <img src="education.jpg" alt="education" width="1000">

 <h2 align="center">Places I have lived:</h2>
    
    <img src="map.jpg" alt="map" width="1000">


<h2 align="center">Work Experience:</h2>

<div class="user">  
  <div class="tech">
    <h2>ITBA</h2>
      
      <img src="itba.jpg" alt="itba" width="150">
    
    <p>  <font size="+1">I was chosen as <strong>Assistant professor</strong> at my university to guide students in an introductory course. </font> </p>
  </div>

  <div class="tech">
    <h2>SAP</h2>
    <img src="SAP.jpg" alt="SAP" width="150">
      
      <p><font size="+1">I took responsibilities at a regional level for <strong>Partner Solution Center </strong> Latin America  positioning parnters in local markets and pushing global iniciatives such as SAP Qualified Partner-Packaged Solutions, Move to SAP S/4HANA, amongst many others. </font> </p>
  </div>
    
    
</div>

<h2 align="center">Skills:</h2>
